.container {
  .header {
    width: 336px;

    @media (min-width: 816px) {
      width: 720px;
    }

    > a:first-of-type img {
      &:nth-of-type(1) {
        @media (max-width: 815.98px) {
          display: none;
        }
      }

      &:nth-of-type(2) {
        @media (min-width: 816px) {
          display: none;
        }
      }
    }
  }

  > .outerContent {
    min-height: calc(100vh - 96px);
    padding: 48px;
    display: flex;
    justify-content: center;
    background: var(--dim-white);

    > .content {
      width: 336px;
      max-width: 100%;

      @media (min-width: 816px) {
        width: 720px;
      }

      > h1 {
        color: var(--primary-text);
      }

      > p {
        color: var(--secondary-text);
        margin: 12px 0;
        line-height: 32px;
      }

      > .contact {
        > p {
          line-height: 32px;

          > a {
            text-decoration: underline;
            font-weight: 400;
          }
        }
      }
    }
  }
}
