.container {
  >.content {
    padding: 48px;

    >h1 {
      margin: 0;
    }

    >form {

      >.flexContainer {
        // border: 1px solid blue;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-right: calc(336px + 48px);

        >.flexItem {
          // border: 1px solid orange;
          width: 336px;
          margin-right: 48px;
          flex-shrink: 0;

          >button {
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--mb-red);
            border: 0;
            color: #fff;
            font-weight: 700;
            font-size: 16px;
            padding: 0 24px 0 18px;

            >img {
              margin-right: 6px;
            }

            &:hover {
              background: var(--mb-red-cal-hover);
            }
          }

          >.titleInput {
            height: 48px;
            width: 100%;
            margin: 0 0 48px 0;
            padding: 0;
            border: none;
            font-size: 36px;
            line-height: 48px;
            font-weight: 600;
            background: none;
            resize: none;

            &::placeholder {
              color: var(--gray)
            }

            &:focus {
              outline: 0;
            }
          }
        }

        >.flexItem:last-child {
          margin-right: 0;
        }

        >.flexItem.leftFlex {
          width: calc(336px * 2 + 48px);
        }

        @media (max-width: 815px) {
          >.flexItem {
            margin: 0 48px 0 48px !important;
          }

          >.flexItem.leftFlex {
            width: 336px;
          }
        }
      }

      @media (max-width: 1200px) {
        >.flexContainer {
          padding-right: 0;
        }
      }
    }
  }
}
