.container {
  >.outerContent {
    padding: 48px;
    display: flex;
    justify-content: center;
    background: var(--dim-white);

    >.content {
      display: flex;
      flex-direction: column;
      width: fit-content;

      >.flexContainer {
        display: flex;

        @media (max-width: 815.98px) {
          flex-direction: column;
        }

        >.flexItem {
          width: 336px;

          @media (min-width: 816px) {
            &:not(:last-of-type) {
              margin-right: 48px;
            }
          }

          >button {
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--mb-red);
            border: 0;
            color: #fff;
            font-weight: 600;
            font-size: 16px;
            padding: 0 24px 0 18px;

            >img {
              margin-right: 6px;
            }

            &:hover {
              background: var(--mb-red-hover);
            }

            &:active {
              background: var(--mb-red-active);
            }
          }

          >.titleInput {
            height: 48px;
            width: 100%;
            margin: 0 0 36px 0;
            padding: 0;
            border: none;
            font-size: 36px;
            line-height: 48px;
            font-weight: 600;
            color: var(--primary-text);
            background: none;
            resize: none;

            &::placeholder {
              color: var(--gray)
            }

            &:focus {
              outline: 0;
            }
          }

          .idInput {
            flex-grow: 1;
            height: 32px;
            padding: 4px 6px;
            border: 1px solid var(--light-gray);
            font-size: 16px;
            line-height: 24px;
            font-weight: 300;
            color: var(--primary-text);
            background: var(--white);

            &::placeholder {
              color: var(--gray)
            }

            &:focus {
              outline: 0;
              border-color: var(--mb-red);
            }
          }
        }
      }
    }
  }
}
