.container {
  .header {
    width: 336px;

    @media (min-width: 816px) {
      width: 720px;
    }
  }

  >.outerContent {
    min-height: calc(100vh - 96px);
    padding: 48px;
    display: flex;
    justify-content: center;
    background: var(--dim-white);

    >.content {
      display: flex;
      flex-direction: column;
      width: fit-content;

      >.titleInput {
        height: 48px;
        margin: 0 0 36px 0;
        padding: 0;
        border: none;
        font-size: 36px;
        line-height: 48px;
        font-weight: 600;
        color: var(--primary-text);
        background: none;
        resize: none;
        width: 336px;

        @media (min-width: 816px) {
          width: 720px;
        }

        &::placeholder {
          color: var(--gray)
        }

        &:focus {
          outline: 0;
        }
      }

      >.datesTimes {
        display: flex;
        flex-direction: column;

        @media (min-width: 816px) {
          flex-direction: row;

          >.dates {
            margin-right: 48px;
          }
        }

        >.dates,
        >.times {
          width: 336px;
          margin-bottom: 48px;

          >h2 {
            margin-bottom: 12px;
          }

          >p {
            color: var(--secondary-text);
          }

          >.select {
            margin-bottom: 24px;
          }
        }
      }

      >.options {
        width: 336px;

        >.idSection {
          margin-bottom: 48px;

          >.idInput {
            margin-bottom: 12px;

            >p {
              font-weight: 600;
              display: inline;
            }

            >input {
              flex-grow: 1;
              height: 32px;
              padding: 4px 6px;
              border: 1px solid var(--light-gray);
              border-radius: 0;
              font-size: 16px;
              line-height: 24px;
              font-weight: 300;
              color: var(--primary-text);
              background: var(--white);

              &::placeholder {
                color: var(--gray)
              }

              &:focus {
                outline: 0;
                border-color: var(--mb-red);
              }
            }
          }

          >p {
            color: var(--secondary-text);
          }
        }

        >button {
          height: 48px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: var(--mb-red);
          border: 0;
          color: var(--white);
          font-weight: 600;
          font-size: 16px;
          padding: 0 24px 0 18px;

          >img {
            margin-right: 6px;
          }

          &:hover {
            background: var(--mb-red-hover);
          }

          &:active {
            background: var(--mb-red-active);
          }
        }
      }
    }
  }
}
