.container {
  height: 100%;

  >.outerContent {
    min-height: calc(100% - var(--header));
    padding: 48px;
    background: var(--dim-white);
    display: flex;
    justify-content: center;

    >.content {
      width: fit-content;

      @media (max-width: 1047.98px) {
        width: 336px;
      }

      .grayedOut {
        opacity: 0.2;
        pointer-events: none;
      }

      .availability {
        display: flex;
        align-items: center;
        margin: 0 32px;

        &.bigScreen {
          @media (max-width: 1047.98px) {
            display: none;
          }
        }

        &.smallScreen {
          margin: 0 auto 32px 8px;

          @media (min-width: 1048px) {
            display: none;
          }
        }

        >p {
          color: var(--secondary-text);
          font-weight: 500;
          font-size: 16px;
          margin: 0;
          width: 28px;
          text-align: center;
        }

        >.shades {
          display: flex;
          margin: 0 12px;
          width: 192px;

          >.shade {
            flex-grow: 1;
            height: 48px;
          }
        }
      }

      >h1 {
        margin: 0;
        color: var(--primary-text);
        font-weight: 600;
        font-size: 36px;
        max-width: 850px;
        word-wrap: break-word;
      }

      >.options {
        display: flex;
        margin: 24px 0;

        @media (max-width: 1047.98px) {
          flex-direction: column;
          align-items: flex-start;
        }

        >.buttons {
          display: flex;

          >button {
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-weight: 600;
            font-size: 16px;
            padding: 0 24px 0 18px;

            >img {
              margin-right: 12px;
            }
          }

          >.respondButton {
            background: var(--mb-red);
            border: 0;
            color: var(--white);
            margin-right: 12px;
            width: 146px;

            &:hover {
              background: var(--mb-red-hover);
            }
          }

          >.inviteButton {
            background: var(--dark-white);
            border: 1px solid var(--mid-gray);
            color: var(--secondary-text);
            width: 122px;

            &:hover {
              background: var(--light-gray);
            }

            &.copied {
              >img {
                margin-right: 4px;
                margin-left: -2px;
              }
            }
          }
        }

        >.select {
          width: 336px;

          @media (max-width: 1047.98px) {
            width: 280px;
            margin-top: 12px;
          }
        }
      }

      >.content {
        display: flex;

        @media (max-width: 1047.98px) {
          flex-direction: column;
        }

        >.respondents {
          width: 280px;

          @media (max-width: 1047.98px) {
            margin-top: 16px;
            margin-bottom: 32px;
          }

          >p {
            display: flex;
            align-items: center;
            margin: 0 0 12px 0;
            color: var(--gray);
            font-weight: 400;
            font-size: 18px;
            font-family: 'Outfit';
            font-feature-settings: 'tnum' on, 'lnum' on;

            >img {
              margin: 0 12px 0 21px;

              @media (max-width: 1048px) {
                margin-left: 9px;
              }
            }
          }

          >p:last-child {
            margin-left: 24px;
          }

          >.nameInput {
            margin: 8px 0 8px 52px;
            padding: 1px 6px;
            color: var(--primary-text);
            font-size: 24px;
            font-weight: 500;
            background: var(--white);
            width: 214px;
            height: 32px;
            border: 1px solid var(--light-gray);

            &::placeholder {
              color: var(--gray);
            }

            &:focus {
              border-color: var(--mb-red);
              outline: none;
            }
          }

          >.respondent {
            display: flex;
            align-items: center;
            padding: 6px 0;
            transition: opacity 0.1s;

            >.checkbox {

              @media (max-width: 1048px) {
                margin-left: 12px;
              }

              transition: opacity 0.2s;
            }

            >p {
              width: 222px;
              margin: 0;
              color: var(--primary-text);
              font-size: 24px;
              font-weight: 400;
              word-wrap: break-word;

              &.self {
                font-weight: 600;
              }
            }
          }
        }

        >.calendar {
          >p {
            color: var(--secondary-text);
            padding: 0 0 12px 72px;
          }
        }
      }
    }
  }
}
