.container {
  >.content {
    padding: 48px;

    >h1 {
      margin: 0;
      color: #222;
      font-weight: 700;
      font-size: 36px;
    }

    >.options {
      display: flex;
      margin: 24px 0;

      >button {
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 16px;
        padding: 0 24px 0 18px;

        >img {
          margin-right: 12px;
        }
      }

      >.respondButton {
        background: var(--redorange);
        border: 0;
        color: #fff;
        margin-right: 12px;

        &:hover {
          background: var(--redorangeHover);
        }
      }

      >.inviteButton {
        background: #f0f0f0;
        border: 1px solid #d0d0d0;
        color: #666;
        margin-right: 32px;

        &:hover {
          background: #e0e0e0;
        }
      }

      >.availability {
        display: flex;
        align-items: center;

        >p {
          color: #666;
          font-weight: 500;
          font-size: 16px;
          margin: 0;
        }

        >.shades {
          display: flex;
          margin: 0 12px;

          >.shade {
            width: 48px;
            height: 48px;
          }
        }
      }

      >.select {
        margin-left: 32px;
      }
    }

    >.content {
      display: flex;
    }
  }
}
