.container {
  user-select: none;
  display: flex;

  >.namesPopup {
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.8);
    pointer-events: none;
    touch-action: none;
    z-index: 100;

    >.head {
      height: var(--header);
      background: var(--white);
      display: flex;
      align-items: center;
      padding-left: 24px;
      border-width: 0 0 1px 0;
      border-style: solid;
      border-color: var(--light-gray);

      >h2 {
        font-family: 'Outfit', sans-serif;
        font-weight: 300;
        font-feature-settings: 'tnum' on, 'lnum' on;
        color: var(--secondary-text);
      }
    }

    >.names {
      padding: 18px 24px;
      display: flex;
      flex-wrap: wrap;

      >.name {
        width: 50%;
        font-size: 24px;
        margin: 6px 0;
        line-height: 32px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.unavailable {
          color: rgba(0, 0, 0, 0.2);
          text-decoration-line: line-through;
        }
      }
    }
  }

  >.hours {
    width: 48px;
    flex-shrink: 0;
    margin-left: 24px;
    padding-right: 12px;
    padding-top: calc(80px - 32px / 2);

    >.hour {
      color: var(--secondary-text);
      height: 32px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-family: 'Outfit';
      font-weight: 400;
      font-size: 12px;
      font-feature-settings: 'tnum' on, 'lnum' on !important;

      &.hidden {
        opacity: 0;
        pointer-events: none;
      }
    }

    @media (max-width: 1047.98px) {
      margin-left: 0;
    }
  }

  >.content {
    max-width: 600px;
    overflow-x: auto;

    @media (max-width: 1047.98px) {
      max-width: 336px;
    }

    &::-webkit-scrollbar {
      height: 8px;

      @media (max-width: 1048px) {
        display: none;
      }
    }

    &::-webkit-scrollbar-track {
      background: var(--light-gray);
      border-radius: 10px;

    }

    &::-webkit-scrollbar-thumb {
      background: var(--gray);
      border-radius: 10px;

      &:hover {
        background: #b9b9b9;
      }
    }

    >.days {
      display: flex;

      >.day {
        display: flex;
        flex-direction: column;
        text-align: center;

        >.heading {
          background: var(--white);
          border: 1px solid var(--light-gray);
          border-right-width: 0;
          width: 80px;
          height: 80px;
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          >h1 {
            margin: 0;
            color: var(--primary-text);
            font-weight: 500;
            font-size: 24px;
            line-height: 32px;
          }

          >h2 {
            margin: 0;
            color: var(--secondary-text);
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
          }
        }

        &.gapped {
          margin-right: 12px;
        }

        /* add right borders for last column and gapped headings */
        &:last-of-type,
        &.gapped {
          >.heading {
            border-right-width: 1px;
          }
        }

        >.interval {
          touch-action: none;
          background: var(--light-gray);
          width: 80px;
          height: 8px;
          border-top: 1px solid var(--dim-white);
          border-left: 1px solid var(--dim-white);
          border-top-width: 0;
          transition: 0.1s;

          &.inactive {
            background: var(--gray);
          }

          &.selected {
            background: #f93636;
          }

          &.faded {
            opacity: 0.2;
          }

          &:not(&.inactive) {
            &.select {
              cursor: pointer;

              &:hover {
                background: var(--mid-gray);

                &.selected {
                  background: #e01919;
                }
              }
            }
          }

          &.hovered {
            filter: brightness(0.92);
          }

          /* interval hour dividers */
          &:nth-of-type(4n+6) {
            border-top-width: 1px;
          }

          &.gapped {
            margin-top: 32px;
            border-top: 0;
          }
        }

        /* remove the left border for first column intervals */
        &:first-of-type {
          >.interval {
            border-left: 0;
          }
        }

        >.scroller {
          border-top: 1px solid var(--white);
          height: 48px;
          background-image: url('/img/scroll.svg');
          background-size: cover;
          background-position: center center;

          @media (min-width: 1047.98px) {
            display: none;
          }
        }
      }

      /* remove the left border for intervals after a day gap */
      >.day.gapped+.day>.interval {
        border-left: 0;
      }
    }
  }
}
