.container {
  user-select: none;
  margin: 16px;
  display: flex;

  >.times {
    width: 48px;
    padding-right: 12px;
    padding-top: calc(80px - 32px / 2);

    >.time {
      color: #666;
      height: 32px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-weight: 400;
      font-size: 12px;
    }
  }

  >.content {
    >.days {
      display: flex;

      >.day {
        display: flex;
        flex-direction: column;
        text-align: center;

        >.heading {
          background: #fff;
          border: 1px solid #e0e0e0;
          border-right-width: 0;
          width: 80px;
          height: 80px;
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          >h1 {
            margin: 0;
            color: #222;
            font-weight: 500;
            font-size: 24px;
          }

          >h2 {
            margin: 0;
            color: #666;
            font-weight: 400;
            font-size: 16px;
          }
        }

        &.gapped {
          margin-right: 12px;
        }

        /* add right borders for last column and gapped headings */
        &:last-of-type,
        &.gapped {
          >.heading {
            border-right-width: 1px;
          }
        }

        >.interval {
          background: #e0e0e0;
          width: 80px;
          height: 8px;
          border-top: 1px solid #fafafa;
          border-left: 1px solid #fafafa;
          border-top-width: 0;

          &.inactive {
            background: #a0a0a0;
          }

          &.selected {
            background: #f93636;
          }

          &.hoverable:not(&.inactive) {
            cursor: pointer;

            &:hover {
              background: #D0D0D0;

              &.selected {
                background: #e01919;
              }
            }
          }

          /* interval hour dividers */
          &:nth-of-type(4n+6) {
            border-top-width: 1px;
          }

          &.gapped {
            margin-top: 32px;
            border-top: 0;
          }
        }

        /* remove the left border for first column intervals */
        &:first-of-type {
          >.interval {
            border-left: 0;
          }
        }
      }

      /* remove the left border for intervals after a day gap */
      >.day.gapped+.day>.interval {
        border-left: 0;
      }
    }
  }
}
