.container {
  user-select: none;
  margin: 16px;
  display: flex;

  >.times {
    width: 48px;
    padding-right: 12px;
    padding-top: calc(80px - 32px / 2);

    >.time {
      color: #666;
      height: 32px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-weight: 400;
      font-size: 12px;
    }
  }

  >.content {
    display: flex;
    flex-direction: column;

    >.headings {
      display: flex;

      >.heading {
        background: #fff;
        border: 1px solid #e0e0e0;
        width: 80px;
        height: 80px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        >h1 {
          margin: 0;
          color: #222;
          font-weight: 500;
          font-size: 24px;
        }

        >h2 {
          margin: 0;
          color: #666;
          font-weight: 400;
          font-size: 16px;
        }

        &:not(:last-of-type) {
          border-right: 0;
        }
      }
    }

    >.days {
      display: flex;

      >.day {
        display: flex;
        flex-direction: column;
        text-align: center;

        >.interval {
          background: #e0e0e0;
          width: 80px;
          height: 32px;
          border-top: 1px solid #fafafa;
          border-left: 1px solid #fafafa;

          >p {
            margin: 0;
          }

          &.inactive {
            background: #a0a0a0;
          }

          &.selected {
            background: #f93636;
          }

          &:first-of-type {
            border-top: 0;
          }
        }

        &:first-of-type {
          >.interval {
            border-left: 0;
          }
        }
      }
    }
  }
}
