.container {
  >.calendar {
    width: 336px;

    >.month {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 48px;
      position: relative;

      >button {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        border: 0;
        position: absolute;

        &:first-of-type {
          left: 12px;
        }

        &:last-of-type {
          right: 12px;
        }
      }
    }

    >.headings {
      display: flex;
      user-select: none;

      >.heading {
        width: 48px;
        height: 48px;
        background: var(--white);
        border: 1px solid var(--light-gray);
        color: var(--secondary-text);
        font-weight: 500;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:not(:last-of-type) {
          border-right: 0;
        }
      }
    }

    >.dates {
      display: flex;
      flex-wrap: wrap;
      user-select: none;
      margin-bottom: 12px;

      >.date {
        touch-action: none;
        width: 48px;
        height: 48px;
        background: var(--light-gray);
        font-family: 'Outfit', sans-serif;
        font-feature-settings: 'tnum' on, 'lnum' on;
        font-size: 20px;
        font-weight: 300;
        padding: 2px 0 0 6px;
        border-top: 1px solid var(--dim-white);
        border-left: 1px solid var(--dim-white);

        &.today {
          font-weight: 600;
        }

        &.inactive {
          color: var(--gray);
        }

        &.selected {
          background: #f93636;
          color: var(--white);
        }

        &:nth-child(-n+7) {
          border-top: 0;
        }

        &:nth-child(7n+1) {
          border-left: 0;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  >p {
    color: var(--secondary-text);
    font-weight: 200;
  }
}
