.container {
  background: #fff;
  height: 96px;
  display: flex;
  justify-content: center;
  padding: 0 48px;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: var(--light-gray);
  position: sticky;
  top: 0;
  z-index: 10;

  .innerContainer {
    display: flex;
    align-items: center;

    >a.link {
      margin: 0 36px 0 24px;
      color: #666;
      font-size: 16px;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }

    >button {
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--mb-red);
      border: 0;
      color: #fff;
      font-weight: 600;
      font-size: 16px;
      padding: 0 24px 0 18px;

      >img {
        margin-right: 6px;
      }

      &:hover {
        background: var(--mb-red-hover);
      }

      &:active {
        background: var(--mb-red-active);
      }
    }
  }
}
