.container {
  background: var(--white);
  height: var(--header);
  display: flex;
  justify-content: center;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: var(--light-gray);
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 0 32px;

  .innerContainer {
    display: flex;
    align-items: center;
    width: 100%;

    >a.link {
      margin: 0 36px 0 24px;
      color: var(--secondary-text);
      font-size: 16px;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }

    .logo {
      @media (max-width: 575.98px) {
        display: none;
      }
    }

    .logoSmall {
      @media (min-width: 576px) {
        display: none;
      }
    }

    >button {
      height: 48px;
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      background: var(--mb-red);
      border: 0;
      color: var(--white);
      font-weight: 600;
      font-size: 16px;
      padding: 0 24px 0 18px;

      >img {
        margin-right: 6px;
      }

      &:hover {
        background: var(--mb-red-hover);
      }

      &:active {
        background: var(--mb-red-active);
      }
    }
  }
}
